@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    font-family: "Source Code Pro", monospace;
    ;
}

i {
    clip-path: circle();
}


.fade-leave-active,
.mad-leave-active {
    transition: opacity 3s ease;
}

.fade-enter-active,
.mad-enter-active {
    transition: transform 2s ease, opacity 2s ease;
}

.fade-enter-from,
.fade-leave-to,
.mad-enter-from,
.mad-leave-to {
    opacity: 0;
}


.fade-enter-from {
    transform: translateY(80%);
}

.mad-enter-from {
    transform: translateY(-80%);
}

.image-big {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}